.str-adunit {
    cursor: pointer;
    z-index: 100;
}

#floating-ad-container {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    width: 469.8px;
    height: 384.262px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: white;
    z-index: 10;
}

#floating-ad-container.clicked {
    -webkit-transition: all 0.5s ease-in-out, opacity 1ms;
    -moz-transition: all 0.5s ease-in-out, opacity 1ms;
    -ms-transition: all 0.5s ease-in-out, opacity 1ms;
    transition: all 0.5s ease-in-out, opacity 1ms;
    opacity: 1;
    z-index: 999999999;
    box-shadow: #000 0px 0px 30px 5px;
    width: 562.8px;
    height: 436.575px;
    margin: 0 auto;
    top: 50px !important;
    visibility: visible !important;
}
#floating-ad-container.clicked .str-footer,
#floating-ad-container.clicked .str-card-wrapper,
#floating-ad-container.clicked .str-embed-wrapper {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    opacity: 1;
}

#floating-ad-container div {
    margin: 0px;
    padding: 0px;
}

.str-clear {
    clear: both;
}

.floating-bg {
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 999999998;
    cursor: default;
    overflow: hidden;
}

.floating-bg.clicked {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

#floating-ad-container .str-embed-wrapper,
#floating-ad-container .str-details-wrapper {
    width: 100%;
    opacity: 0;
}

#floating-ad-container .str-embed-container {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
}

#floating-ad-container.content .str-embed-container {
    padding-bottom: 0px !important;
    height: calc(100% - 120px) !important;
}

#floating-ad-container iframe.str-embed-video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#floating-ad-container .str-sharing-container {
    margin-bottom: 3px;
    float: left;
}

#floating-ad-container .str-sharing-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#floating-ad-container a.str-facebook-share {
    background-color: #3c5a98;
}

#floating-ad-container a.str-twitter-share {
    background-color: #00B0ED;
}

#floating-ad-container a.str-email-share {
    background-color: #0084C6;
}

#floating-ad-container a.str-custom-share {
    background-color: #37B99A;
}

#floating-ad-container.str-overlay {
    display: none;
    position: absolute;
    width: 100%;
    background: #000;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    opacity: .5;
    z-index: 100;
}

.str-card-open {
    overflow: visible !important;
}

.brand-logo {
    width: 23px;
    min-width: 23px;
    max-width: 23px;
    height: 23px;
    min-height: 23px;
    max-height: 23px;
    position: relative;
    top: -1px;
    display: block;
    margin-bottom: 0;
    border: none;
    margin-left: 0;
    margin-right: 5px;
    margin: 5px auto;
}

#floating-ad-container .str-embed-container.str-article-content {
    padding-bottom: 0;
    height: auto;
    overflow: hidden;
    position: relative;
}

.str-card-container {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    cursor: default;
    opacity: 0;
    overflow: hidden;
    outline: none !important;
}

.str-card-container * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

.str-card-wrapper {
    opacity: 0;
}

.str-no-scroll {
    overflow: hidden !important;
    height: auto !important;
}

.str-header {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    @include transition(all 500ms ease);
}

#floating-ad-container .str-header .str-advertiser {
    display: inline-block;
    margin: 2px 0 0;
    color: black;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    max-width: calc(100% - 70px);
}

.str-header .ad-sub {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #ababab;
}

#floating-ad-container .header-controls {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    border-bottom: 1px solid #e0e0e0;
    color: #777;
    padding: 10px 15px;
    z-index: 100;
}

#floating-ad-container .privacy-policy {
    background: white;
    position: absolute;
    top: -75%;
    width: 100%;
    padding: 20px 20px 5px;
    font-size: 12px;
    line-height: 18px;
    color: #777;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
}

#floating-ad-container .privacy-policy a {
    color: #37b99a;
    font-weight: 400;
    text-decoration: none;
}

.privacy-policy button {
    background: none;
    display: block;
    position: relative;
    margin: 10px auto 0;
    color: #777;
    text-align: center;
    border: none;
    outline: 0;
}

.privacy-policy .str-ico-up {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}

#floating-ad-container .str-footer {
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    padding: 15px;
    box-shadow: 0 -1px 0 0 #e0e0e0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    opacity: 0;
}

.str-ico-info,
.str-ico-close,
.str-ico-up {
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 40px;
}

.str-ico-up {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 257px 24px;
    background-position: -52px -1px;
}

.str-ico-info {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 257px 24px;
    background-position: -25px 8px;
    float: right;
    width: 25px;
}

.str-ico-close {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 185px 18px;
    background-position: 6px 11px;
    float: left;
}

a .str-sharing-icon {
    float: left;
    margin: 3px 20px 0 0;
    height: 24px;
    width: 24px;
}

#floating-ad-container a.str-facebook-share .str-sharing-icon {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 257px 24px;
    background-position: -103px 0px;
}

#floating-ad-container a.str-twitter-share .str-sharing-icon {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 257px 24px;
    background-position: -129px 0px;
}

#floating-ad-container a.str-email-share .str-sharing-icon {
    background-image: url('//native.sharethrough.com/assets/card-icon-sprite.png');
    background-size: 257px 24px;
    background-position: -77px 0px;
}

#floating-ad-container a.str-custom-share .str-sharing-icon {
    background-color: #37B99A;
}

#floating-ad-container.str-overlay a.str-facebook-share .str-sharing-icon {
    background-position: -205px 0px;
    margin-left: 15px;
    margin-top: 5px;
}

#floating-ad-container.str-overlay a.str-email-share .str-sharing-icon {
    background-position: -179px 0px;
    margin-top: 5px;
}

#floating-ad-container.str-overlay a.str-twitter-share .str-sharing-icon {
    background-position: -231px 0px;
    margin-top: 5px;
}

#floating-ad-container a.str-custom-share {
    float: right;
    height: 40px;
    margin-top: -5px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    border-radius: 3px;
}

#floating-ad-container .str-custom-container {
    float: right;
}

#floating-ad-container .str-card-wrapper.video .str-embed-wrapper,
#floating-ad-container .str-card-wrapper.hosted-video .str-embed-wrapper,
#floating-ad-container .str-card-wrapper.autoplay .str-embed-wrapper {
    background-color: black;
    opacity: 0;
}

@media only screen and (max-width: 767px) {
    #floating-ad-container .str-container {
        position: fixed;
        overflow: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #floating-ad-container .str-card-wrapper {
        height: 100%;
    }
    #floating-ad-container .str-embed-wrapper {
        height: calc(100% - 120px);
        height: -webkit-calc(100% - 120px);
        height: -moz-calc(100% - 120px);
        overflow: auto;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    #floating-ad-container .str-embed-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
    #floating-ad-container .str-embed-container.str-article-content {
        top: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
}
